

:root
{
    --margin: 10px;
            
    --colorWhite: #f2f2f2; // #d6d6d6;
    --colorBright: #ffffff;
    --colorBlack: #1f1f1f;
    --colorYelight: #eae8dd;
    --colorYeldark: #e1decd; // #e2dec7;
    --colorDarkblue: #002b64;
    --colorLightblue: #105fae;
    
    --colorWW: #ececec;
    --colorWB: #e4e4e4;
}

html, body
{
    margin: 0;
    padding: 0;
    
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.screen
{
    width: 100vw;
}

.head
{
    position: sticky;
    top: 0;
    z-index: 1;
}

.headContainer
{
    width: calc(100% - (var(--margin) * 2));
    height: 50px;
    padding: 0 var(--margin);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    box-shadow: 0 0 5px rgb(0,0,0, 0.1);
}

.header
{
    padding: 0 10px;
    font-weight: 500;
    
    position: relative;
    margin: auto;
    
    color: white;
    background-color: #003568;
}
.navigation
{
    position: absolute;
    right: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content
{
    transition: filter 0.5s;
}

.hidden
{
    visibility: hidden;
}

.blur
{
    filter: blur(5px);
    transition: filter 1s;
}

.navContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 0 5px rgb(0,0,0,0.05);
    box-shadow: 0 0 5px rgb(0,0,0,0.02) inset;
    background-color: var(--colorYeldark);
    
    box-shadow: 0 5px 5px rgb(0,0,0, 0.1);
}

.navItem
{
    width: 100%;
    height: 50px;
    box-shadow: 0 -0.1px 0 grey inset;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: grey;
}




.space
{
    height: 20px;
}

.block
{
    margin: 0;
    width: 100vw;
    overflow: scroll;
}

.marginBlock
{
    /* allow child to use 100% */
    
    margin: var(--margin);
    // border: 1px solid grey;
}

.imageBlock
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    overflow:hidden;
}

.headImage
{
    position: relative;
    right: 0;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textHead
{
    font-size: 30px;
    font-weight: 400;
    padding-top: 10px;
}

.divideFlex
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textPara
{
    font-size: 12px;
    text-align: left;
    line-height: 150%;
}



.table1
{
    border-radius: 10px;
    border-spacing: 1px;
    // border-collapse: collapse;
    
    // background-color: white; // color
}

.table1 tr td
{
    padding: 10px;
    // outline: 0.1px solid white;
}

.table1 tr td:first-child
{
    font-weight: 500;
    width: 45%;
    text-align: center;
    // vertical-align: top;
}

.table1 tr:nth-child(even)
{
    background-color: var(--colorWB); // color
}
.table1 tr:nth-child(odd)
{
    background-color: var(--colorWW); // color
}




b
{
    font-size: 16px;
    font-weight: 400;
    line-height: 3;
}

.table2
{
    width: 100%; 
    // border:1px solid black;
}





.grid1
{
    display:grid; 
    gap: 0;
    grid-template-columns: auto auto auto ;

}
.gridItems1
{
    text-align: left;
    padding: 5px 0;
    font-size: 12px;
    // outline: 1px solid black;
}
.gridGap
{
    // margin-top: 15px;
}



hidden
{
    visibility: hidden;
    dispaly:none;
}





/*

box-shadow: 10px 10px 5px lightblue inset;


.flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; //  (-) Horizontally centerX
      align-items: center; //  (|) Vertically centerY
      background-color: lightgray;
      padding: 10px;
      overflow: scroll;
      
      background:grey;
    }
    
    .flex-item {
      border-radius: 10px;
      flex: 0 0 auto;
      background-color: lightblue;
      width: 10px;
      padding: 20px;
      margin: 10px;
    }   

animation-name: openup;
animation-duration: 1s;    

@keyframes openup
{
    0% 
    {
        filter: opacity(0);
    }
    100%
    {
        filter: opacity(1);
    }
}

*/

